.research_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 100px;
  
}

.add_professor {
  position: relative;
  top: 120px;
  margin-left: 20px;

  width: 211px;
  height: 60px;

  color: black;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}

.button_container {
  padding: 10px 10px 10px;
  width: 115px;
  height: 225px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: column;
}

.detail_button {
  width: 59px;
  height: 59px;
  border-radius: 100%;
  border: none;
  background-color: rgb(22, 128, 221);

  font-size: 50px;
  color: white;
}

.delete_button {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: none;
  background-color: rgb(221, 22, 22);
  /* 삭제 아이콘 넣을 예정 */
  font-size: 25px;
  color: white;
}

.research_box {
  display: flex;
  margin: 50px 20px 0 20px;
  width: 600px;
  height: 245px;
  background-color: white;
  box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.25);
}

.research_profile {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;

  background-color: white;
  border-right: 3px rgba(0, 0, 0, 0.25) groove;
  width: 210px;
  height: 245px;
}

.research_picture {
  margin-top: 20px;
  position: relative;
  background-color: black;
  border-radius: 100%;
  width: 128px;
  height: 128px;  
}

.research_content {
  margin-left: 20px;
  width: 250px;
  height: 245px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.pagination_container {
display: block;
}
/* 
.pagination {
display: flex;
align-items: center;
justify-content: space-around;
margin-top: 150px;
width: 100vw;
} */
.prev_btn {
width: 100px;
height: 50px;
font-size: 20px;
border-radius: 20px;
margin-left: 550px;
}
.next_btn {
width: 100px;
height: 50px;
font-size: 20px;
border-radius: 20px;
margin-right: 550px;
}

.prev_btn:hover {
color: white;
background-color: black;
}

.next_btn:hover {
color: white;
background-color: black;
}

.page_num {
width: 100px;
height: 50px;
display: flex;
text-align: center;
align-items: center;
justify-content: center;
font-size: 20px;

margin: 0 auto;
}

/* Research.module.css */

.pagenationBox {
  margin-top: 10px;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 150px;
  width: 100vw;
}

.pagination li:first-child {
  border-radius: 5px 0 0 5px;
}

.pagination li:last-child {
  border-radius: 0 5px 5px 0;
}

.pagination li a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
}

.pagination li.active a {
  color: lightgray;
}

.pagination li a:hover {
  color: lightgray;
}

.page-selection {
  width: 48px;
  height: 30px;
  color: #2f2f2f;
}
